@model MemorizationAssistance.Models.Book

@{
    ViewBag.Title = "問題集削除";
}

<h2>@ViewBag.Title</h2>

<h3>この問題集を削除してよろしいですか？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionDatas)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QuestionDatas.FirstOrDefault().Question)</th>
                    <th>@Html.DisplayNameFor(model => model.QuestionDatas.FirstOrDefault().Answer)</th>
                </tr>
                @foreach (var item in Model.QuestionDatas)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Question)</td>
                        <td>@Html.DisplayFor(modelItem => item.Answer)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="削除" class="btn btn-default" /> |
            @Html.ActionLink("管理に戻る", "Index")
        </div>
    }
</div>
